.hard{
    margin-top: 38px;
    
}

.tituloHard{
    margin-left: 50px;
}

.imagens-lista{
    list-style: none;/* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    margin-top: 25px;
    margin-left: 25px;
   
}

.imagens-item{
    display: flex;
    height: 150px;
    justify-content: space-around;
    margin-bottom: 38px;
    margin-top: 38px;
}

.imagens-item img{
    display: inline-block; /* Exibe as imagens em linha */
    margin-right: 10px; /* Adiciona um espaçamento à direita entre as imagens */
}


.imagens-item img:last-child{
    margin-right: 0;

}