.hard{
    margin-top: 38px;  
}

.tituloDesigner{
    margin-left: 50px;
}

.imagens-designer{
    list-style: none;/* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    margin-top: 25px;
    margin-left: 25px;
   
}

.designer-item{
    display: flex;
    height: 150px;
    margin-bottom: 38px;
    margin-top: 38px;
}

.designer-item img{
    display: inline-block; /* Exibe as imagens em linha */
    margin-right: 10px; /* Adiciona um espaçamento à direita entre as imagens */
}


.designer-item img:last-child{
    margin-right: 0;

}