.hard{
    margin-top: 38px;   
}

.tituloHard{
    margin-left: 50px;
}

.imagens-lista{
    list-style: none;
    padding: 0; 
    margin-top: 25px;
    margin-left: 25px;
   
}

.imagens-item{
    display: flex;
    height: 150px;
    justify-content: space-between;
    
    
}

.imagens-item img{
    display: inline-block; 
    margin-right: 10px;
    
}

.imagens-item img:last-child{
    margin-right: 0;

}