.hard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 200px;
}

.coluna {
    flex: 1;
    padding: 20px;
    margin: 10px;
    margin-top: 16px;
    border-radius: 5px;
    height: 200px;/* Defina a altura desejada para as colunas */
    border: 1px solid #ccc;
    margin-left: 30px;
    margin-right: 30px;
}

.lista {
    list-style: none;
    padding: 0;
    color: #fff;
    font-size: 20px;
}

.lista li {
    font-weight: bold;
    height: 30px;/* Defina a altura desejada para os itens */
    line-height: 40px;  /* Centralize verticalmente o texto */
}

.tituloHard {
    text-align: center;
    width: 100%;
    margin-top: 40px;
    color: #91CCFF;
}

@media (max-width: 350px) {

    /* Estilos para telas menores, como smartphones */
    .hard{
        display: flex;
        margin-top: 38px;
    }

   
}

@media (max-width: 750px) {

    /* Estilos para telas menores, como smartphones */
    .hard{
        display: flex;
        margin-top: 38px;
    }

   
}