
.cont-projeto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    color: black;
    margin: 30px 16px;  
    margin-bottom: 200px;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.destaque{
    color: #FABF3C;
    margin-top: 200px;
   
    
}

.projeto{
    color: #91CCFF;
}

@media (max-width: 780px) {

    /* Estilos para telas menores, como smartphones */
    .destaque{
        display: flex;
    }

    .projeto{
        display: flex;
    }
}

@media (max-width: 350px) {

    /* Estilos para telas menores, como smartphones */
    .destaque{
        display: flex;
        font-size: 20px;
    }

   
}
